**/__pycache__
**/.idea
rosvm.egg-info
**/.ipynb_checkpoints
doc/rosvm_doc.kilepr
doc/.kile
doc/*.aux
doc/*.bbl
doc/*.bcf
doc/*.blg
doc/*.log
doc/*.out
doc/*.run.xml
doc/*.synctex.gz
**/*.toc
**/.*.kate-swp
